<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.operationalsystems.pomodorotimer">

    <application
        android:allowBackup="true"
        android:icon="@drawable/clockicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".EventListActivity"
            android:label="@string/main_activity_title"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".data.PomodoroEventProvider"
            android:authorities="com.operationalsystems.pomodorotimer"
            android:exported="false" />

        <activity
            android:name=".EventTimerActivity"
            android:label="@string/title_activity_event_timer"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.operationalsystems.pomodorotimer.EventListActivity" />
        </activity>
        <activity
            android:name=".EventSummaryActivity"
            android:label="@string/title_summary"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.operationalsystems.pomodorotimer.EventListActivity" />
        </activity>
        <activity
            android:name=".TeamJoinActivity"
            android:label="@string/title_activity_team_join"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.operationalsystems.pomodorotimer.EventListActivity" />
        </activity>
        <activity
            android:name=".TeamManageActivity"
            android:label="@string/title_activity_team_manage"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.operationalsystems.pomodorotimer.TeamJoinActivity" />
        </activity>

        <receiver android:name=".PomodoroWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/pomodoro_widget_info" />
        </receiver>
    </application>

</manifest>