<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.operationalsystems.pomodorotimer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/clockicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--This meta-data tag is required to use Google Play Services.-->
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".EventListActivity"
            android:label="@string/main_activity_title"
            android:theme="@style/AppTheme.DefaultTransition">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EventTimerActivity"
            android:label="@string/title_activity_event_timer"
            android:theme="@style/AppTheme.DefaultTransition">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.operationalsystems.pomodorotimer.EventListActivity" />
        </activity>
        <activity
            android:name=".EventSummaryActivity"
            android:label="@string/title_summary"
            android:theme="@style/AppTheme.DefaultTransition">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.operationalsystems.pomodorotimer.EventListActivity" />
        </activity>
        <activity
            android:name=".TeamJoinActivity"
            android:label="@string/title_activity_team_join"
            android:theme="@style/AppTheme.DefaultTransition"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.operationalsystems.pomodorotimer.EventListActivity" />
        </activity>
        <activity
            android:name=".TeamManageActivity"
            android:label="@string/title_activity_team_manage"
            android:theme="@style/AppTheme.DefaultTransition">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.operationalsystems.pomodorotimer.TeamJoinActivity" />
        </activity>

        <receiver android:name=".PomodoroWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/pomodoro_widget_info" />
        </receiver>

        <provider
            android:name=".data.PomodoroEventProvider"
            android:authorities="com.operationalsystems.pomodorotimer"
            android:exported="false"
            android:syncable="true" />

        <service
            android:name=".service.KeyDataSyncService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter"/>
        </service>
        <service
            android:name=".service.KeyDataAuthService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/syncauthenticator" />
        </service>

        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
    </application>

</manifest>